@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900|Dosis|Hind|Ubuntu|Nunito|Cabin");
.App {
  background: lightgrey; }

button:focus {
  outline: 0; }

.form {
  color: white;
  text-align: center;
  position: relative;
  left: 30%;
  right: 30%;
  margin-top: 100px; }

.form h1 {
  font-size: 2.8vw; }

.form h2 {
  font-size: 1.9vw; }

#wrapper {
  position: relative;
  width: 100vw; }

#wrapper div {
  position: absolute;
  top: 0;
  height: 100vh; }

#wrapper video {
  width: 100vw;
  box-shadow: 0 0 8pt 3pt cadetblue; }

.scroll-down {
  display: flex;
  justify-content: center; }

.scroll-down a {
  position: absolute;
  bottom: 100px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s; }

.scroll-down a:hover {
  opacity: .4;
  cursor: pointer; }

section {
  position: relative;
  width: 100%;
  height: 100%; }

.story {
  text-align: center;
  padding-top: 25px;
  font-size: 42px;
  background: #B4CDCD; }

.bio {
  padding: 1.25vh 0;
  background: #B4CDCD; }

.bio h2 {
  text-align: center;
  font-size: 2vw;
  margin: 3vh 10vw 30px;
  font-family: 'Nunito'; }

.image-and-contact {
  text-align: center; }

.me {
  height: 255px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 4vh;
  box-shadow: 0 0 .2pt 1pt gray; }

.projects {
  background-color: #B4CDCD;
  -webkit-clip-path: polygon(0 0%, 100% 7%, 100% 93%, 0% 100%);
  clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
  padding: 20px 10px 35px 10px; }
  .projects h1 {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 38px; }

#scroll a {
  padding-top: 80px; }

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 69px;
  height: 69px;
  margin-left: -36.5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box; }

#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 24px;
  height: 24px;
  margin: -18px 0 0 -12px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box; }

#scroll a span::before {
  position: absolute;
  z-index: -1;
  content: ' ';
  width: 66px;
  height: 66px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: pulse 3s infinite;
  animation: pulse 3s infinite;
  box-sizing: border-box; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  66% {
    box-shadow: 0 0 0 72px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes pulse {
  0% {
    opacity: 0; }
  33% {
    opacity: 1; }
  66% {
    box-shadow: 0 0 0 72px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  font-family: 'Work Sans', sans-serif; }

.button-container {
  display: flex;
  justify-content: center; }

.project-header {
  text-align: center;
  font-size: 35px; }

.projects img {
  height: 295px;
  border-radius: 25px;
  margin-top: 5px;
  margin-left: 2vw;
  margin-bottom: 30px; }

.brew {
  display: flex;
  padding: 2vh 0; }

.brew-description h2 {
  font-size: 1.36vw;
  text-align: center;
  padding: 8.5vh 40px 2.5vh;
  font-family: 'Nunito'; }

.brew-buttons {
  text-align: center;
  padding: 10px 40px 0; }

.brew-description {
  padding-bottom: 20px; }

.brew-description a {
  width: 20%;
  height: 50px;
  text-decoration: none;
  margin: 10px 5px; }

.visit-site {
  box-shadow: inset 0 0 0 4px #008080;
  color: #008080;
  transition: color 0.2s 0.06667s;
  position: relative; }
  .visit-site::before, .visit-site::after {
    border: 0px solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .visit-site::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .visit-site::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .visit-site:hover {
    color: #044F9A; }
    .visit-site:hover::before, .visit-site:hover::after {
      border-color: #044F9A;
      transition: border-color 0s, width 0.2s, height 0.2s;
      width: 100%;
      height: 100%;
      border-radius: 6px; }
    .visit-site:hover::before {
      transition-delay: 0s, 0s, 0.2s; }
    .visit-site:hover::after {
      transition-delay: 0s, 0.2s, 0s; }

.btn {
  background: none;
  cursor: pointer;
  padding: 1em 2em;
  font-weight: 800;
  font-size: 16px;
  border-radius: 6px; }

.project-image-name {
  text-align: center;
  font-size: 22px; }

.project-image-name h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Cabin'; }

.artifact {
  display: flex;
  padding-bottom: 5vh;
  background: lightgrey; }

.artifact video {
  height: 314px;
  width: 558px;
  border-radius: 25px;
  margin-left: 2.5vw; }

.video-title {
  text-align: center;
  font-size: 1.5em; }

.video-title h2 {
  margin-left: 2.6vw;
  margin-bottom: 10px; }

.artifact-description h2 {
  font-size: 1.36vw;
  text-align: center;
  padding: 12vh 40px 3.7vh;
  font-family: 'Nunito'; }

.art-buttons {
  text-align: center;
  padding: 0 40px; }

.artifact-description a {
  width: 20%;
  height: 50px;
  text-decoration: none;
  margin: 10px 5px; }

.project-image-name {
  text-align: center;
  font-size: 22px; }

.project-image-name h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 2.2vw; }

.market-monitor {
  display: flex;
  background: #B4CDCD;
  position: relative;
  top: 2vh;
  width: 100vw;
  padding-bottom: 10vh;
  padding-top: 2vh;
  -webkit-clip-path: polygon(0 0%, 100% 7%, 100% 93%, 0% 100%);
  clip-path: polygon(0 0%, 100% 7%, 100% 100%, 0% 100%); }

.market-image-name {
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  width: 600px; }

.market-image-name img {
  border-radius: 25px;
  margin-left: 30px;
  height: 310px; }

.market-description h2 {
  font-size: 1.36vw;
  text-align: center;
  padding: 10vh 40px 5vh;
  margin-top: 9vh;
  line-height: 1.4; }

.market-description {
  text-align: center; }

.market-buttons a {
  margin: 0 5px;
  text-decoration: none; }

.popup-body h1 {
  margin: 0;
  padding: 0; }

.popup-body {
  margin: 0;
  padding: 0;
  position: relative; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5; }

.popup_inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 2%;
  bottom: 5%;
  margin: auto; }

.popup_inner h1 {
  margin-top: 3%;
  font-size: 28px;
  color: black;
  background-color: antiquewhite;
  font-family: 'Arvo';
  width: 100%;
  box-shadow: 0 0 0 0; }

.popup_inner h3 {
  font-family: 'Ubuntu';
  font-size: 14px;
  margin: 20px; }

.contact {
  background: antiquewhite;
  padding: 1vh 0;
  position: relative;
  top: 2vh;
  width: 40vw;
  margin: 0 auto 2vh; }

.contact h2 {
  font-size: 1.3vw; }

.close_button:before, .close_button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #8B0000;
  transition: 400ms ease all; }

.close_button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0; }

.close_button:hover:before, .close_button:hover:after {
  width: 100%;
  transition: 800ms ease all; }

.popup_inner img {
  height: 89vh;
  display: block;
  margin: 0 auto; }

.popup_inner button {
  margin: 2.05vh 0 0 3vw; }

.close_button {
  background: #8B0000;
  color: whitesmoke;
  border: none;
  position: relative;
  right: 20px;
  height: 30px;
  font-size: 14px;
  padding: 0 12px;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  -o-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  margin-bottom: 15px;
  width: 10vw;
  font-weight: 600; }

.close_button {
  background: #8B0000;
  color: whitesmoke;
  border: none;
  position: relative;
  right: 20px;
  height: 30px;
  font-size: 14px;
  padding: 0 12px;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  -o-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  margin-bottom: 15px;
  width: 10vw;
  margin-top: 2.5vh; }

.close_button:hover {
  background: whitesmoke;
  color: #8B0000; }

.popup-resume .resume-button {
  display: inline-block;
  color: #fff;
  background: #B4CDCD;
  margin: 20px;
  text-align: center;
  margin: 25px 20px;
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: 2.5px solid;
  position: relative;
  overflow: hidden;
  width: 14vw;
  height: 7.5vh;
  opacity: 0.6;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }
  .popup-resume .resume-button:hover {
    opacity: .95; }

.popup-resume .resume-button:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.7);
  transform: rotate(345deg); }

.popup-resume .resume-button:hover:before {
  left: 240px;
  transition: all .3s; }

.video-title {
  font-family: 'Cabin';
  letter-spacing: 1px; }

.market-image-name h2 {
  margin: 3.5vh 0 1.6vh 1vw;
  font-family: 'Cabin'; }

.market-description h2 {
  font-family: 'Nunito'; }

.footer {
  background: #2f3340;
  width: 100vw;
  height: 45px;
  padding-top: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
  display: flex; }

.footer h2 {
  color: white;
  margin: 0; }

.footer a {
  text-decoration: none; }

.footer img {
  height: 5vh;
  position: relative;
  bottom: 5px;
  margin: 0 15px 0 30px; }

.skill-images {
  display: flex;
  justify-content: space-between;
  margin: 0 6vw;
  width: 80vw; }
  .skill-images img {
    width: 80px;
    min-width: 20px; }
  .skill-images .react-icon img {
    height: 100px;
    width: 200px; }
  .skill-images .node-icon img {
    height: 40px;
    width: 120px; }

.skills {
  text-align: center;
  font-family: 'Nunito';
  background-color: lightgrey;
  padding: 10px 10px 35px 10px; }

.skills-divide {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(lightgrey));
  margin: 22px 0; }
